
.blockquote, .blockquote-footer {
    font-family: sans-serif;
}

.carousel-inner{
    width: 500px;
    height: auto;
    margin: 50px auto 0;
    animation: slide 10s infinite alternate ease-in-out;
}

.header {
    background-color: beige;
}

.buttons {
    text-align: center;
}
